body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #55185D;
    font-family: 'Lexend Deca', sans-serif;
}

nav{
    width: 100vw;
    height: 4.5vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFD524;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    margin-right: 13vw;
}

.logo{
    width: 10vw;
    height: 3.5vw;
    margin-left: 7vw;
    background: url('/assets/logo_cropped.jpg') no-repeat;
}

nav a{
    padding: 0.6vw 1vw;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 600;
}

nav .login{
    background-color: #55185D;
    color: white;
    border-radius: 0.5vw;
    padding: 0.6vw 1vw;
}

.main{
    display: flex;
    justify-content: space-around;
    padding-top: 6vw;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading h1{
    color: white;
    font-size: 7vw;
    font-weight: bold;
}

.illus{
    height: 40vw;
    width: 40vw;
    padding-right: 5vw;
    background: url('/assets/home.svg') no-repeat;
}

.about-main{
    display: flex;
    justify-content: space-around;
    padding-top: 6vw;
}

.about-main h1{
    color: white;
    font-size: 7vw;
    font-weight: bold;
}

.about-heading{
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
}

.about-heading p{
    width: 35vw;
    color: white;
    margin-top: -4vw;
    font-weight: 400;
}

.illus2{
    height: 32vw;
    width: 32vw;
    padding-top: 5vw;
    padding-right: 5vw;
    background: url('/assets/about.svg') no-repeat;
}

.posts{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
}

.card{
    width: 28vw;
    height: 35vw;
    background-color: white;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw; 
}

.upper{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper .info{
    display: flex;
    align-items: center;
}

.info .username{
    padding-left: 0.5vw;
}

.upper .pfp{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: url('https://github.com/gigabite-pro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower{
    height: 25vw;
    background-image: url('https://github.com/gl6ry01.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.caption{
    padding: 1vw;
}

.fa-heart{
    font-size: 1.5vw;
    padding-right: 1vw;
}

.like span{
    font-size: 1.2vw;
}

.like{
    text-decoration: none;
    color: black;
}

.verify{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-head{
    color: white;
}

.verify-box{
    width: 30vw;
    height: 30vh;
    background-color: #FFD524;
    border-radius: 10px;
    padding: 2vw;
}

.post-btn{
    background-color: #55185D;
    color: white;
}